* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: grid;
  grid-template-areas: "header""main""footer";
  height: 100%;
  grid-template-rows: 10vh 80vh 10vh;

}


main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #2a5ea5;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}

#root {
  height: 100vh;
}